<nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand">Test Angular</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLink="lista">Lista Empleado</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="agregar">Agregar Datos</a></li>
            </ul>
        </div>
    </div>
</nav>