<div class="container">
    <div class="row">
        <ng-container class="col-xs-12">
            <h3 style="text-align: center;">Lista de empleados</h3>
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of empleados">
                        <td>{{ persona.id }}</td>
                        <td>{{ persona.data.nombre }}</td>
                        <td>{{ persona.data.apellidoPat }}</td>
                        <td>{{ persona.data.apellidoMat }}</td>
                        <td>{{ persona.data.email }}</td>
                        <td>
                          <button (click)="eliminarEmpleado(persona.id)" class="btn btn-danger">Eliminar</button>
                          <button (click)="editar(persona.id)" class="btn btn-primary">Actualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
           <button (click)="EliminarTodosEmpleados()"  class="btn btn-primary" style="align-items: center;">Eliminar Empleados</button>
           <hr>
          <!-- <form (ngSubmit)="onSumit()" *ngIF="model">
               <div class="form-group">
                   <label for="name">Nombre</label>
                   <input type="text" class="form-control" id="name" required[(ngModel)]="model.name" name="name"> 
               </div>
               <div class="form-group">
                <label for="apellidoPat">Apellido Paterno</label>
                <input type="text" class="form-control" id="name" required[(ngModel)]="model.apellidoPat" name="apellidoPat"> 
            </div>
            <div class="form-group">
                <label for="apellidoMat">Apellido Materno</label>
                <input type="text" class="form-control" id="name" required[(ngModel)]="model.apellidoPat" name="apellidoPat"> 
            </div>
           </form>-->
        </ng-container>
    </div>
</div>