<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h3 style="text-align: center;">Inserte datos para agregar nuevo empleado</h3>
            <div class="form-group">
                <label for="ControlNombre">ID</label>
              <input type="text" [(ngModel)]="agregarEmpleadoRegistro.id" class="form-control" placeholder="Ingresar ID">
            </div>
            <div class="form-group">
                <label for="ControlNombre">Nombre</label>
              <input type="text" [(ngModel)]="agregarEmpleadoRegistro.data.nombre" class="form-control" placeholder="Ingrese Nombre">
            </div>
            <div class="form-group">
                <label for="ControlNombre">Apellido Paterno</label>
              <input type="text" [(ngModel)]="agregarEmpleadoRegistro.data.apellidoPat" class="form-control" placeholder="Ingresar Apellido Paterno">
            </div>
            <div class="form-group">
                <label for="ControlNombre">Apellido Materno</label>
              <input type="text" [(ngModel)]="agregarEmpleadoRegistro.data.apellidoMat" class="form-control" placeholder="Ingresar Apellido Materno">
            </div>
            <div class="form-group">
                <label for="ControlNombre">Email</label>
              <input type="text" [(ngModel)]="agregarEmpleadoRegistro.data.email" class="form-control" placeholder="Ingresar Email">
            </div>
            <button (click)="agregarEmpleado()" class="btn btn-primary">Agregar</button>
            <!-- <button (click)="agregarEmpleado()" class="btn btn-primary">Agregar</button>-->
        </div>
    </div>
</div>